<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..//static//css//exemploiframe.css">
    <title>Title</title>
</head>
<body>
    <div class="topo">
        <h1>Esse é meu exemplo com iframe</h1>
        <hr>
    </div>
    <div class="menu">
        <a href="https://www.globo.com" target="conteudoiframe">Link 1</a>
        <a href="http://www.uol.com.br" target="conteudoiframe">Link 2</a>
        <a href="https://news.google.com/home" target="conteudoiframe">Link 3</a>
    </div>
    <div class="conteudo">
<iframe name="conteudoiframe" src="https://www.ifpb.edu.br/" height="600px" width="100%"></iframe>
    </div>
</body>
</html>