<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <style>
            .topo{
                    background-color: red;
                    font-size: 51px;
                    text-align: center;
                }
            .separador{
                background-color: black;
                height: 15px;
                width: 100%;
            }

        </style>
    </head>
    <body>


        <div class="topo">
            <a>essa vai ser minha primeira página</a>
        </div>
        <div class="separador">

        </div>

        <div>

            <form action="/sugestaonome" method="post">
                <label>qual é o nome deste porquinho?</label>
                <input name="nomeporco">

                <button>Enviar sugestão</button>
            </form>
            <br>
            <img src="static//suino.png" width="280px" height="400px">
            <ul>
                <li>Rene</li>
                <li>Diego</li>
                <li>Soneca</li>
                <li>Lazarento</li>
            </ul>
            <br><br>
            <table>
                <caption>Minha tabela</caption>
                <thead>
                    <th>Nome</th>
                    <th>Peso</th>
                    <th>idade</th>
                </thead>
                <tbody>
                    <tr>
                        <td>zezinho</td>
                        <td>180</td>
                        <td>195 dias</td>
                    </tr>
                    <tr>
                        <td>popo</td>
                        <td>81</td>
                        <td>102 dias</td>
                    </tr>
                    <tr>
                        <td>Mariazinha</td>
                        <td>85</td>
                        <td>126 dias</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </body>
</html>