<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../static/css/index.css" >
    </head>
    <body>

        <div class="topo">
            <a>essa vai ser minha primeira página</a>
        </div>

        <div class="meio">
            <br>
            <div class="coluna1">
                <p>Sugestões de nomes</p>
                <ul>
                    <li>Rene</li>
                    <li>Diego</li>
                    <li>Soneca</li>
                    <li>Lazarento</li>
                </ul>
            </div>
            <div class="coluna2">
                <form action="/sugestaonome" method="post">
                    <label>qual é o nome deste porquinho?</label>
                    <input name="nomeporco">

                    <button>Enviar sugestão</button>
                </form>

                <img src="static//suino.png" width="280px" height="400px">

            </div>

            <div class="coluna3">
                <table>
                    <caption>Minha tabela</caption>
                    <thead>
                        <th>Nome</th>
                        <th>Peso</th>
                        <th>idade</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>zezinho</td>
                            <td>180</td>
                            <td>195 dias</td>
                        </tr>
                        <tr>
                            <td>popo</td>
                            <td>81</td>
                            <td>102 dias</td>
                        </tr>
                        <tr>
                            <td>Mariazinha</td>
                            <td>85</td>
                            <td>126 dias</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
    </body>
</html>