<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1 id="titulo">Bem-vindooooo a JS meus amigos</h1>
  <button onclick="mudarTexto()">Clique aqui</button>
    <br>
    <input placeholder="digite seu nome">
    <br>
    <label>digite seu nome</label>
  <input>
  <script>

    function mudarTexto() {
      document.getElementById("titulo").innerText = "Você clicou no botão, meu amigo!";

      //console.log("william vai ver o mengao ganhar hoje");
      //alert("ele disse que nao e pe frio");
    }
  </script>

</body>
</html>