<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>pag javascript</title>
    <link rel="stylesheet" href="../static/css/quintoexemplo.css">
</head>
<body>

    <button id="abrirModalBtn" class="btn-abrir-modal">Abrir Modal</button>

    <div id="meuModal" class="modal">
        <div class="modal-conteudo">
            <span class="fechar-modal-btn">X</span>
            <h2>Este é o Modal!</h2>
            <p>Aqui tem um conteúdo pois abriu o modal com sucesso.</p>

        </div>
    </div>

    <script src="../static/js/quintoexemplo.js"></script>
</body>
</html>