<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/sexto.css">
</head>
<body>
<div class="todo">



    <div class="topo">
        <div class="botao">
            <a href="https://www.globo.com" target="meuiframe">GlobO</a>
        </div>
        <div class="botao">
            <a href="https://www.tudogostoso.com.br" target="meuiframe">Tudo Gostoso</a>
        </div>



    </div>

    <iframe name="meuiframe" id="main" class="meuframe" width="98%" height="700px" src="https://ifpb.edu.br/campi/sousa/"></iframe>

    </div>
</body>
</html>