<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h1 id="titulo">Bem-vindooooo</h1>
  <form action="/cadastrar">
    <br>
    <input onchange="verificarinimigo()" id="camponome" placeholder="digite seu nome">
    <br>
    <input type="text" id="campoemail"  placeholder="digite seu email">
    <br>
    <input type="text" id="campoemailconfirm"  placeholder="repita seu email">
    <br>
    <input type="number" id="campoidade"  placeholder="digite sua idade">
    <br>

    <button onclick="verificar()" id="botao" type="button">Enviar</button>
    <p class="textoalerta" id="paragrafo"></p>


  </form>

  <script src="..//static//js//script.js" ></script>

</body>
</html>